* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.orange {
  color: orange;
}
.sky {
  color: skyblue;
}
.meroon {
  color: maroon;
}
.gray {
  color: #3a3a3a;
}
.green {
  color: green;
}
.btn {
  padding: 10px 20px;
  background: #e02c6d;
  border-radius: 8px;
  border: none;
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
}
.df {
  display: flex;
}
.jcc {
  justify-content: center;
}
.shade {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.grad {
  background-image: linear-gradient(
    13.9deg,
    rgba(254, 253, 205, 1) 11.2%,
    rgba(163, 230, 255, 1) 91.1%
  );
}
.grad-pink {
  background-image: linear-gradient(
    371.5deg,
    rgba(245, 187, 236, 1) 46.5%,
    rgba(227, 124, 213, 1) 98.5%,
    rgba(187, 187, 187, 1) 124.3%
  );
}
.grad-white {
  background-image: linear-gradient(
    113.5deg,
    rgba(234, 234, 234, 1) 22.3%,
    rgba(201, 234, 211, 1) 56.6%,
    rgba(255, 180, 189, 1) 90.9%
  );
}
.bounce {
  animation: fadeInBottomRight;
  animation-duration: 1s;
}
.fade-in-left {
  animation: fadeInLeft;
  animation-duration: 1s;
}
.bounce-left {
  animation: fadeInBottomLeft;
  animation-duration: 1s;
}
